<!-- nivo slider -->
<div class="nivo-wrap">
<div class="wraper">
<!--<div class="fallback"><img src="images/sliders/home_page_4/fallback.png" alt="" /></div>-->
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
              <img src="images/custom/landingoilrig.jpg" width="933" height="377" data-thumb="images/features/img.png" alt="" title="#htmlcaption" />
              <img src="images/sliders/home_page_4/home4_slide_2.jpg" width="933" height="377" data-thumb="images/features/img.png" alt="" title="#htmlcaption2" />
              <img src="images/sliders/home_page_4/home4_slide_3.jpg" width="933" height="377" data-thumb="images/features/img.png" alt="" title="#htmlcaption3" />
              <img src="images/sliders/home_page_4/home4_slide_4.jpg" width="933" height="377" data-thumb="images/features/img.png" alt="" title="#htmlcaption4" />
            </div>
            <div id="htmlcaption" class="dd nivo-html-caption">
                <span class="tit">A responsive, business</span><strong class="tit2">HTML Template</strong> Lid est laborum dolo rumes fugats untras. Et harums ser quidem rerum facilis dolores uns satdips ipsums. 
            </div>
            <div id="htmlcaption2" class="dd nivo-html-caption">
                <span class="tit">A responsive, business</span><strong class="tit2">HTML Template</strong> Lid est laborum dolo rumes fugats untras. Et harums ser quidem rerum facilis dolores uns satdips ipsums. 
            </div>
            <div id="htmlcaption3" class="dd nivo-html-caption">
                <span class="tit">A responsive, business</span><strong class="tit2">HTML Template</strong> Lid est laborum dolo rumes fugats untras. Et harums ser quidem rerum facilis dolores uns satdips ipsums. 
            </div>
            <div id="htmlcaption4" class="dd nivo-html-caption">
                <span class="tit">A responsive, business</span><strong class="tit2">HTML Template</strong> Lid est laborum dolo rumes fugats untras. Et harums ser quidem rerum facilis dolores uns satdips ipsums. 
            </div>
        </div>
</div>
</div>
<!-- /nivo slider -->
 
<div class="content_block">
 <!-- text bar2 -->
 <div class="text_bar2">
  <div class="wraper">
   <h2>Like to blog?  Construct likes it too. This is our home page blog option!<span>Want to take a tour?  Check out the numerous options &amp; features that Construct includes, we know you'll love them!</span></h2>
   <a class="buy btn_l" href="#">Buy Construct!</a>
  </div>
 </div>
 <!-- /text bar2 -->

</div>

<!-- footer -->
<!-- social block -->
<!-- <div class="social_block">
 <div class="wraper">
  <p>Stay connected with us in your favorite flavor!</p>
  <ul>
   <li class="facebook"><a href="#">Facebook</a></li>
   <li class="twitter"><a href="#">Twitter</a></li>
   <li class="linkedin"><a href="#">LinkedIn</a></li>
   <li class="rss"><a href="#">RSS</a></li>
   <li class="dribbble"><a href="#">Dribbble</a></li>
   <li class="google"><a href="#">Google+</a></li>
  </ul>
 </div>
</div> -->
<!-- /social block -->

<script>
$(function(){
  $('#slider').nivoSlider({
    controlNav: false
  });
  $('.post_slider').bxSlider({
    auto: false,
    speed : 1000
  });
  $('.clients_slider').bxSlider({
    auto: false,
    controls : false,
    mode: 'fade',
    pager: true
  }); 
    $('.bwWrapper').BlackAndWhite({
        hoverEffect : true,
        webworkerPath : false,
        responsive:true,
        invertHoverEffect:false
    });
})
</script>